<div data-role='page'>
  <div data-role = "content">
    <h1>Edition d'un service</h1>

    <%= form_for([@service.batiment.campus, @service.batiment, @service]) do |f| %>
      <div class="field">
        <%= f.label :batiment %><br />
        <%= collection_select(:service, :batiment_id, @batiments, :id, :nom) %>
      </div>
      <div class="field">
        <%= f.label :categorie %><br />
        <%= collection_select(:service, :categorie_id, @categories, :id, :nom) %>
      </div>
      <div class="field">
        <%= f.label :nom %><br />
        <%= f.text_field :nom %>
      </div>
      <div class="field">
        <%= f.label :tel %><br />
        <%= f.text_field :tel %>
      </div>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.text_field :email %>
      </div>
      <div class="field">
        <%= f.label :url_site_web %><br />
        <%= f.text_field :url_site_web %>
      </div>

      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>

    <%= link_to 'Show', campus_batiment_service_path(@service.batiment.campus, @service.batiment, @service) %> |
    <%= link_to 'Back', campus_batiment_path(@service.batiment.campus, @service.batiment) %>
  </div>
</div>
