<div data-role='page'>
  <h1>Edition d'un batiment</h1>

  <%= form_for([@batiment.campus, @batiment]) do |f| %>
    <div class="field">
      <%= collection_select(:batiment, :campus_id, @campuses, :id, :nom) %>
    </div>
    <div class="field">
      <%= f.label :longitude %><br />
      <%= f.text_field :longitude %>
    </div>
    <div class="field">
      <%= f.label :latitude %><br />
      <%= f.text_field :latitude %>
    </div>

    <div class="field">
      <%= f.label :nom %><br />
      <%= f.text_field :nom %>
    </div>
    <div class="field">
      <%= f.label :adresse %><br />
      <%= f.text_area :adresse %>
    </div>
    <div class="field">
      <%= f.label :code_postal %><br />
      <%= f.text_field :code_postal %>
    </div>
    <div class="field">
      <%= f.label :ville %><br />
      <%= f.text_field :ville %>
    </div>
    <div class="field">
      <%= f.label :horaires %><br />
      <%= f.text_field :horaires %>
    </div>
    <div class="field">
      <%= f.label :url_photo %><br />
      <%= f.text_field :url_photo %>
    </div>

    <div class="field">
      <%= f.label :info %><br />
      <%= f.text_area :info %>
    </div>
    
    <div data-role="fieldcontain">
	    <label for="slider2">Accès wifi?</label>
	    <%= f.select(:acces_wifi, [['Oui', true], ['Non', false]]) %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

  <%= link_to 'Show', campus_batiment_path(@batiment.campus, @batiment) %> |
  <%= link_to 'Back', campus_path(@batiment.campus) %>
</div>
