<div data-role='page'>
  <h1>Edition d'un Campus</h1>

  <%= form_for(@campus) do |f| %>

    <div class="field">
      <%= f.label :nom %><br />
      <%= f.text_field :nom %>
    </div>
    <div class="field">
      <%= f.label :longitude %><br />
      <%= f.text_field :longitude %>
    </div>
    <div class="field">
      <%= f.label :latitude %><br />
      <%= f.text_area :latitude %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

  <%= link_to 'Show', @campus %> |
  <%= link_to 'Back', '/admin/campus/edit' %>
</div>
