<div data-role='page'>
  <div data-role = "content">
    <h1>Edition d'une salle</h1>

    <%= form_for([@salle.batiment.campus, @salle.batiment, @salle]) do |f| %>

      <div class="field">
        <%= collection_select(:salle, :batiment_id, @batiments, :id, :nom) %>
      </div>
      <div class="field">
        <%= f.label :nom %><br />
        <%= f.text_field :nom %>
      </div>
      <div class="field">
        <%= f.label :num_etage %><br />
        <%= f.text_field :num_etage %>
      </div>   
      <div class="field">
        <%= f.label :nb_place %><br />
        <%= f.text_field :nb_place %>
      </div>
      <div class="field">
        <%= f.label :info %><br />
        <%= f.text_area :info %>
      </div>
      
      <div data-role="fieldcontain">
	      <label for="slider2">Accès libre?</label>
	      <%= f.select(:acces_libre, [['Oui', true], ['Non', false]]) %>
      </div>
      <div data-role="fieldcontain">
	      <label for="slider2">Imprimante?</label>
	      <%= f.select(:imprimante, [['Oui', true], ['Non', false]]) %>
      </div>

      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>

    <%= link_to 'Show', campus_batiment_salle_path(@salle.batiment.campus, @salle.batiment, @salle) %> |
    <%= link_to 'Back', campus_batiment_path(@salle.batiment.campus, @salle.batiment) %>
  </div>
</div>
