<div data-role='page'>
  <h1>Edition d'une Catégorie</h1>

  <%= form_for(@categorie) do |f| %>

    <div class="field">
      <%= f.label :nom %><br />
      <%= f.text_field :nom %>
    </div>
    <div class="field">
      <%= f.label :photo %><br />
      <%= f.file_field :photo %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

  <%= link_to 'Show', @categorie %> |
  <%= link_to 'Back', '/admin/categorie/edit' %>
</div>
