<div data-role='page'>
  <h1>Edition d'une entrée</h1>

  <%= form_for([@entree.batiment.campus, @entree.batiment, @entree]) do |f| %>
    <div class="field">
      <%= collection_select(:entree, :batiment_id, @batiments, :id, :nom) %>
    </div>
    <div class="field">
      <%= f.label :longitude %><br />
      <%= f.text_field :longitude %>
    </div>
    <div class="field">
      <%= f.label :latitude %><br />
      <%= f.text_area :latitude %>
    </div>
    <div class="field">
      <%= f.label :url_photo %><br />
      <%= f.text_field :url_photo %>
    </div>    
    <div data-role="fieldcontain">
      <label for="slider2">Accès handicapé?</label>
      <%= f.select(:acces_handicape, [['Oui', true], ['Non', false]]) %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

  <%= link_to 'Show', [@entree.batiment.campus, @entree.batiment, @entree] %> |
  <%= link_to 'Back', campus_batiment_entree_path(@entree.batiment.campus, @entree.batiment, @entree) %>
</div>
