!!!
%html
  %head
    %meta(charset="utf-8")
    %title DunInfos
    = stylesheet_link_tag :all
    = stylesheet_link_tag 'http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.css'
    = javascript_include_tag :defaults
    = javascript_include_tag 'http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.js'
    = csrf_meta_tag
  %body
    = yield